NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/wellsync

# ---- No usado aún ---
# JWT_SECRET=
# JWT_EXPIRES_IN=
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# EXERCISEDB_API_KEY=
# CALORIENINJAS_API_KEY=
