NODE_ENV=development
PORT=4000
MONGO_URI=url de la base de datos
JWT_SECRET=
JWT_EXPIRES_IN=

# ---- No usado aún ---
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# EXERCISEDB_API_KEY=
# CALORIENINJAS_API_KEY=
