NODE_ENV=development
PORT=4000
MONGO_URI=url de la base de datos
JWT_SECRET=
JWT_EXPIRES_IN=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=abcd efgh ijkl mnop
EMAIL_FROM=WellSync <tu_correo@gmail.com>
CORS_ORIGIN=*
GOOGLE_CLIENT_ID=tu_id
EXERCISEDB_API_KEY=
EXERCISEDB_API_HOST=
CALORIENINJAS_API_KEY=
CALORIAS_API_KEY=
CALORIAS_API_HOST=

# ---- No usado aún ---
# GOOGLE_CLIENT_SECRET=
